$orange: #f28123;
$blue: #9fbbcc;
$yellow: #fff600;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
   background-image: url(/img/dark\ codex.png);
   position: relative;
   
    .chango-regular {
      font-family: "Chango", sans-serif;
      font-style: normal;
    }
  }